.cat-main-con {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
}

.location-con {
    display: flex;
    justify-content: space-around;
    width: 180px;
    align-items: center;
}
.location-icon {
    height: 24px;
    width: 24px;
}
.location {
    font-size: 16px;
}
.location-arrow {
    height: 16px;
    width: 16px;
}
.cats-con {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-right: 100px;
}
.cat {
    font-size: 14px;
    cursor: pointer;

}
@media screen and (max-width: 768px) {
    .cat-main-con {
        display: flex;
        flex-direction: column;
    }    
    .cats-con {
        width: 100%;
        padding: 0px;
        overflow-x: scroll;
        
    }
    .cat {
        padding-right: 12px;
        width: 100%;
    }
}